// Override or add CSS variables for your theme here

:root {
  --j10p-heritage-blue: #002D72;
  --j10p-spirit-blue: #68ACE5;
  --j10p-dark: #31261D;

  --ds-header-logo-height: 125px;
  --ds-header-bg: var(--j10p-heritage-blue);

  --ds-link-color: var(--white);
  --ds-navbar-link-color: var(--ds-link-color);
  --ds-navbar-link-color-hover: var(--j10p-spirit-blue);
  --ds-header-icon-color: var(--ds-link-color);
  --ds-header-icon-color-hover: var(--j10p-spirit-blue);
}

