<footer class="text-lg-start container">
  <!-- Ignore top footer here -->
  <div class="bottom-footer p-1 d-flex justify-content-start align-items-center">
    <div class="content-container">
      <p class="m-0 px-2">
        <a class=""
           href="http://www.dspace.org/">{{ 'footer.link.dspace' | translate}}</a>
        {{ 'footer.copyright' | translate:{year: dateObj | date:'y'} }}
        <a class=""
           href="https://www.lyrasis.org/">{{ 'footer.link.lyrasis' | translate}}</a>
      </p>
      <ul class="footer-info list-unstyled small d-flex justify-content-center mb-0">
        <li>
            <a class="" href="javascript:void(0);"
             (click)="showCookieSettings()">{{ 'footer.link.cookies' | translate}}</a>
        </li>
        <li>
          <a class=""
             href="https://www.library.jhu.edu/policies/">{{ 'footer.link.policy' | translate}}</a>
        </li>
        <li *ngIf="showEndUserAgreement">
          <a class=""
             routerLink="info/end-user-agreement">{{ 'footer.link.end-user-agreement' | translate}}</a>
        </li>
        <li>
          <a class=""
             routerLink="info/feedback">{{ 'footer.link.feedback' | translate}}</a>
        </li>
      </ul>
    </div>
  </div>
</footer>