<nav [ngClass]="{'open': !(menuCollapsed | async)}" [@slideMobileNav]="!(windowService.isXsOrSm() | async) ? 'default' : ((menuCollapsed | async) ? 'collapsed' : 'expanded')"
  class="navbar navbar-expand-md navbar-light p-0 navbar-container" role="navigation" [attr.aria-label]="'nav.main.description' | translate">
  <div class="navbar-inner-container w-100 h-100" [class.container]="!(isXsOrSm$ | async)">
    <a class="navbar-brand my-2" routerLink="/home">
      <img src="/assets/j10p/images/libraries.logo.small.horizontal.white.png" [attr.alt]="'menu.header.image.logo' | translate" />
    </a>

    <div id="collapsingNav" class="w-100 h-100"><!-- Holding subsequent nav elements to the right --></div>
    <ds-search-navbar class="navbar-collapsed"></ds-search-navbar>
    <ds-lang-switch class="navbar-collapsed"></ds-lang-switch>
    <ds-context-help-toggle class="navbar-collapsed"></ds-context-help-toggle>
    <ds-themed-auth-nav-menu class="navbar-collapsed"></ds-themed-auth-nav-menu>
    <ds-impersonate-navbar class="navbar-collapsed"></ds-impersonate-navbar>
  </div>
</nav>
